/* szinek */

custom_colors {
    background: #e2a32e;
    background: #98639b;
    background: #9b9467;
    background: #696da3;
}

body {
    background: white;
}

header {
    background-image: url("../img/header_background.jpg");
    background-size: 100%;
    height: 400px;
    text-align: center;
}

nav {
    background: #98639b;
    height: auto;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 3%;
    padding: 0.28%;
    font-size: 30px;
}

nav a:hover {
    background: #E2B7E2;
    color: #333333;
}

.active {
    color: #333333;
    background: #E2B7E2;
}

#logo {
    background-size: 100%;
    width: 450px;
    margin-top: 3%;
}

h2 span {
    display: inline-block;
    padding: 20px 40px;
    background-color: white;
}

h2 {
    color: #98639b;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 65px;
    font-weight: 700;
    font-family: "Patrick Hand", cursive;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h2 {
    background: url("../img/dots.png") repeat-x 0 center;
}


/* comments section */

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 20px;
}

.wide {
    width: 65%;
}

.narrow {
    width: 30%;
    padding: 20px;
}

.empty {
    width: 3%;
}

.row {
    padding: 60px 120px 60px 120px;
}

.left-side {
    margin-left: 5%;
}

.right-side {
    margin-right: 5%;
    text-align: right;
}

.row:after {
    /* Clear floats after the columns  */
    content: "";
    display: table;
    clear: both;
}

div.comment-text {
    color: white;
    background: #98639b;
    padding: 30px;
    margin-top: 0%;
    font-style: italic;
}

.comment-text p {
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
    font-style: normal;
}

.comment-text h1 {
    color: #E2B7E2;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    font-style: normal;
}

div.commenter-image-right {
    background-image: url('../img/bendeguz.jpg');
    border-radius: 50%;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

div.commenter-image-left {
    background-image: url('../img/brigitta.jpg');
    border-radius: 50%;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

div.commenter-image-right2 {
    background-image: url('../img/benji.jpg');
    border-radius: 50%;
    background-size: 100%;
    width: 150px;
    height: 150px;
}


/* page bottom */

.bottom-row {
    padding: 0%;
    margin-top: 80px;
    background: #98639b;
}

.bottom-row:after {
    /* Clear floats after the columns  */
    content: "";
    display: table;
    clear: both;
}

.bottom-column {
    float: left;
    padding: 20px;
}

.bottom-wide {
    width: 40%;
}

.bottom-narrow {
    width: 10%;
}

form {
    /* margin-top: 60px; */
}

div.form {
    padding-top: 30px;
    font-family: Verdana;
    font-size: 14px;
    background: #98639b;
    float: left;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    color: #E2B7E2;
}

.form-input {
    background: white;
    border: 1px solid #E0E0E0;
    height: 30px;
    width: 42.7%;
    font-family: 'Architects Daughter';
    padding: 5px;
    margin: 10px;
}

textarea {
    margin-top: 10px;
}

#message-area {
    height: 80px;
    width: 90%;
    padding-top: 10px;
    margin-bottom: 5px;
}


/* info area */

#infos {
    background: #98639b;
    padding: 31px;
}

#infos p {
    padding: 5px;
    font-family: 'Architects Daughter';
    font-size: 10px;
    color: white;
    font-size: 20px;
}

button {
    margin-top: 10px;
    background: #E2B7E2;
    color: #333333;
    /* border: 1px solid white; */
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background: #e2a32e;
    color: #696da3;
}

footer {
    color: #333333;
    background: white;
    text-align: center;
    padding: 20px;
    font-family: Verdana;
    font-size: 12px;
}

.btn {
    margin: 10px 5px 10px 5px;
    background: transparent;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.btn:hover {
    background: #e2a32e;
    color: #696da3;
}